<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View chirp</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex chirps-center justify-center min-h-screen bg-gray-100">
    <div class="flex flex-col">
      <div class="grid grid-cols-3 gap-4">
        {{#if chirps.length}}
          {{#each chirps}}
            <div class="bg-gray-200 p-4 rounded-lg">
              <h2 class="text-xl font-bold text-center mb-3">{{this.author_name}}</h2>
              <div class="text-center">
                <p>{{this.content}}</p>
                <a href="/chirp/{{this.id}}">
                  <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2"
                  >
                    View
                  </button>
                </a>
                <a href="/author/{{this.author_name}}">
                  <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2"
                  >
                    View Author
                  </button>
                </a>
              </div>
            </div>
          {{/each}}
        {{else}}
          <h1 class="text-4xl font-bold text-center col-span-3">No chirps found</h1>
        {{/if}}
      </div>

      <div class="flex justify-center mt-4 gap-2">
        <a
          href="/chirps/create"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >Create chirp</a>
        <a
          href="/"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >Welcome Page</a>
        <br>
      </div>
    </div>
  </body>
</html>